---
http_interactions:
- request:
    method: post
    uri: https://identity.api.rackspacecloud.com/v2.0/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"RAX-KSKEY:apiKeyCredentials":{"username":"foo","apiKey":"bar"}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"unauthorized":{"code":401,"message":"Username or api key is invalid."}}'
  recorded_at: Wed, 02 Jul 2014 20:33:28 GMT
recorded_with: VCR 2.9.2
