---
http_interactions:
- request:
    method: post
    uri: https://identity.api.rackspacecloud.com/v2.0/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"RAX-KSKEY:apiKeyCredentials":{"username":"<USERNAME>","apiKey":"<APIKEY>"}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"access":{"token":{"id":"aaa30a69aaaa4ade83f32df91656357f","expires":"2014-07-24T21:18:32.138Z","tenant":{"id":"869882","name":"869882"},"RAX-AUTH:authenticatedBy":["APIKEY"]},"serviceCatalog":[{"name":"cloudBlockStorage","endpoints":[{"region":"DFW","tenantId":"869882","publicURL":"https:\/\/dfw.blockstorage.api.rackspacecloud.com\/v1\/869882"},{"region":"ORD","tenantId":"869882","publicURL":"https:\/\/ord.blockstorage.api.rackspacecloud.com\/v1\/869882"},{"region":"SYD","tenantId":"869882","publicURL":"https:\/\/syd.blockstorage.api.rackspacecloud.com\/v1\/869882"},{"region":"IAD","tenantId":"869882","publicURL":"https:\/\/iad.blockstorage.api.rackspacecloud.com\/v1\/869882"},{"region":"HKG","tenantId":"869882","publicURL":"https:\/\/hkg.blockstorage.api.rackspacecloud.com\/v1\/869882"}],"type":"volume"},{"name":"cloudImages","endpoints":[{"region":"IAD","tenantId":"869882","publicURL":"https:\/\/iad.images.api.rackspacecloud.com\/v2"},{"region":"ORD","tenantId":"869882","publicURL":"https:\/\/ord.images.api.rackspacecloud.com\/v2"},{"region":"HKG","tenantId":"869882","publicURL":"https:\/\/hkg.images.api.rackspacecloud.com\/v2"},{"region":"DFW","tenantId":"869882","publicURL":"https:\/\/dfw.images.api.rackspacecloud.com\/v2"},{"region":"SYD","tenantId":"869882","publicURL":"https:\/\/syd.images.api.rackspacecloud.com\/v2"}],"type":"image"},{"name":"cloudQueues","endpoints":[{"region":"HKG","tenantId":"869882","publicURL":"https:\/\/hkg.queues.api.rackspacecloud.com\/v1\/869882","internalURL":"https:\/\/snet-hkg.queues.api.rackspacecloud.com\/v1\/869882"},{"region":"ORD","tenantId":"869882","publicURL":"https:\/\/ord.queues.api.rackspacecloud.com\/v1\/869882","internalURL":"https:\/\/snet-ord.queues.api.rackspacecloud.com\/v1\/869882"},{"region":"SYD","tenantId":"869882","publicURL":"https:\/\/syd.queues.api.rackspacecloud.com\/v1\/869882","internalURL":"https:\/\/snet-syd.queues.api.rackspacecloud.com\/v1\/869882"},{"region":"DFW","tenantId":"869882","publicURL":"https:\/\/dfw.queue[...]
- request:
    method: put
    uri: https://storage101.dfw1.clouddrive.com/v1/MossoCloudFS_b1e2e28a-167a-4f71-afe4-096c4604b911/mikhailov/test_file
    body:
      encoding: UTF-8
      string: '"Ohai"'
    headers:
      Content-Type:
      - text/plain
      X-Object-Meta-Foo:
      - '42'
      X-Auth-Token:
      - aaa30a69aaaa4ade83f32df91656357f
  response:
    status:
      code: 201
      message: Created
    headers:
      Last-Modified:
      - Thu, 24 Jul 2014 18:54:53 GMT
      Etag:
      - 49c0e2bcd421f3c92552f5da99bec22b
      Content-Type:
      - text/html; charset=UTF-8
      X-Trans-Id:
      - tx54a70517a9194b1cac057-0053d1567cdfw1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 24 Jul 2014 18:54:58 GMT
- request:
    method: get
    uri: https://storage101.dfw1.clouddrive.com/v1/MossoCloudFS_b1e2e28a-167a-4f71-afe4-096c4604b911/mikhailov/test_file
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - aaa30a69aaaa4ade83f32df91656357f
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 24 Jul 2014 18:54:53 GMT
      Etag:
      - 49c0e2bcd421f3c92552f5da99bec22b
      X-Timestamp:
      - '1406228092.10190'
      X-Object-Meta-Foo:
      - '42'
      Content-Type:
      - text/plain
      X-Trans-Id:
      - tx41290f77dcc54158bbda3-0053d1567cdfw1
    body:
      encoding: UTF-8
      string: '"Ohai"'
  recorded_at: Thu, 24 Jul 2014 18:54:58 GMT
[...]
- request:
    method: get
    uri: https://storage101.dfw1.clouddrive.com/v1/MossoCloudFS_b1e2e28a-167a-4f71-afe4-096c4604b911/mikhailov/test_file
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - aaa30a69aaaa4ade83f32df91656357f
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Trans-Id:
      - tx0c1b246e16d7493f9abd0-0053d1567edfw1
    body:
      encoding: UTF-8
      string: <html><h1>Not Found</h1><p>The resource could not be found.</p></html>
  recorded_at: Thu, 24 Jul 2014 18:55:00 GMT
recorded_with: VCR 2.9.2
