---
http_interactions:
- request:
    method: post
    uri: https://identity.api.rackspacecloud.com/v2.0/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"RAX-KSKEY:apiKeyCredentials":{"username":"<USERNAME>","apiKey":"<APIKEY>"}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"access":{"token":{"id":"d2d0d8cb988a467abdce6636c12ef596","expires":"2014-07-15T13:14:35.266Z","tenant":{"id":"869882","name":"869882"},"RAX-AUTH:authenticatedBy":["APIKEY"]},"serviceCatalog":[{"name":"cloudFilesCDN","endpoints":[{"region":"IAD","tenantId":"MossoCloudFS_b1e2e28a-167a-4f71-afe4-096c4604b911","publicURL":"https:\/\/cdn5.clouddrive.com\/v1\/MossoCloudFS_b1e2e28a-167a-4f71-afe4-096c4604b911"},{"region":"SYD","tenantId":"MossoCloudFS_b1e2e28a-167a-4f71-afe4-096c4604b911","publicURL":"https:\/\/cdn4.clouddrive.com\/v1\/MossoCloudFS_b1e2e28a-167a-4f71-afe4-096c4604b911"},{"region":"DFW","tenantId":"MossoCloudFS_b1e2e28a-167a-4f71-afe4-096c4604b911","publicURL":"https:\/\/cdn1.clouddrive.com\/v1\/MossoCloudFS_b1e2e28a-167a-4f71-afe4-096c4604b911"},{"region":"HKG","tenantId":"MossoCloudFS_b1e2e28a-167a-4f71-afe4-096c4604b911","publicURL":"https:\/\/cdn6.clouddrive.com\/v1\/MossoCloudFS_b1e2e28a-167a-4f71-afe4-096c4604b911"},{"region":"ORD","tenantId":"MossoCloudFS_b1e2e28a-167a-4f71-afe4-096c4604b911","publicURL":"https:\/\/cdn2.clouddrive.com\/v1\/MossoCloudFS_b1e2e28a-167a-4f71-afe4-096c4604b911"}],"type":"rax:object-cdn"},{"name":"cloudFiles","endpoints":[{"region":"IAD","tenantId":"MossoCloudFS_b1e2e28a-167a-4f71-afe4-096c4604b911","publicURL":"https:\/\/storage101.iad3.clouddrive.com\/v1\/MossoCloudFS_b1e2e28a-167a-4f71-afe4-096c4604b911","internalURL":"https:\/\/snet-storage101.iad3.clouddrive.com\/v1\/MossoCloudFS_b1e2e28a-167a-4f71-afe4-096c4604b911"},{"region":"SYD","tenantId":"MossoCloudFS_b1e2e28a-167a-4f71-afe4-096c4604b911","publicURL":"https:\/\/storage101.syd2.clouddrive.com\/v1\/MossoCloudFS_b1e2e28a-167a-4f71-afe4-096c4604b911","internalURL":"https:\/\/snet-storage101.syd2.clouddrive.com\/v1\/MossoCloudFS_b1e2e28a-167a-4f71-afe4-096c4604b911"},{"region":"DFW","tenantId":"MossoCloudFS_b1e2e28a-167a-4f71-afe4-096c4604b911","publicURL[...]
- request:
    method: get
    uri: https://storage101.dfw1.clouddrive.com/v1/MossoCloudFS_b1e2e28a-167a-4f71-afe4-096c4604b911/my-test-dir
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - d2d0d8cb988a467abdce6636c12ef596
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Container-Object-Count:
      - '1'
      X-Timestamp:
      - '1393444035.43560'
      X-Container-Bytes-Used:
      - '280'
      Content-Type:
      - application/json; charset=utf-8
      X-Trans-Id:
      - tx079eedf1ae2041009d6ce-0053c41e80dfw1
    body:
      encoding: UTF-8
      string: '[{"hash": "794d9d685b517eae2a6b7eba2c2617c9", "last_modified": "2014-02-26T19:47:20.673440",
        "bytes": 280, "name": "skeleton.rb", "content_type": "application/x-ruby"}]'
  recorded_at: Mon, 14 Jul 2014 18:15:56 GMT
recorded_with: VCR 2.9.2
