---
http_interactions:
- request:
    method: post
    uri: https://identity.api.rackspacecloud.com/v2.0/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"RAX-KSKEY:apiKeyCredentials":{"username":"<USERNAME>","apiKey":"<APIKEY>"}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"access":{"token":{"id":"59f4c68ee69441f4bf736821ca2e9646","expires":"2014-07-19T14:29:59.734Z","tenant":{"id":"869882","name":"869882"},"RAX-AUTH:authenticatedBy":["APIKEY"]},"serviceCatalog":[{"name":"cloudFilesCDN","endpoints":[{"region":"IAD","tenantId":"MossoCloudFS_b1e2e28a-167a-4f71-afe4-096c4604b911","publicURL":"https:\/\/cdn5.clouddrive.com\/v1\/MossoCloudFS_b1e2e28a-167a-4f71-afe4-096c4604b911"},{"region":"SYD","tenantId":"MossoCloudFS_b1e2e28a-167a-4f71-afe4-096c4604b911","publicURL":"https:\/\/cdn4.clouddrive.com\/v1\/MossoCloudFS_b1e2e28a-167a-4f71-afe4-096c4604b911"},{"region":"DFW","tenantId":"MossoCloudFS_b1e2e28a-167a-4f71-afe4-096c4604b911","publicURL":"https:\/\/cdn1.clouddrive.com\/v1\/MossoCloudFS_b1e2e28a-167a-4f71-afe4-096c4604b911"},{"region":"HKG","tenantId":"MossoCloudFS_b1e2e28a-167a-4f71-afe4-096c4604b911","publicURL":"https:\/\/cdn6.clouddrive.com\/v1\/MossoCloudFS_b1e2e28a-167a-4f71-afe4-096c4604b911"},{"region":"ORD","tenantId":"MossoCloudFS_b1e2e28a-167a-4f71-afe4-096c4604b911","publicURL":"https:\/\/cdn2.clouddrive.com\/v1\/MossoCloudFS_b1e2e28a-167a-4f71-afe4-096c4604b911"}],"type":"rax:object-cdn"},{"name":"cloudFiles","endpoints":[{"region":"IAD","tenantId":"MossoCloudFS_b1e2e28a-167a-4f71-afe4-096c4604b911","publicURL":"https:\/\/storage101.iad3.clouddrive.com\/v1\/MossoCloudFS_b1e2e28a-167a-4f71-afe4-096c4604b911","internalURL":"https:\/\/snet-storage101.iad3.clouddrive.com\/v1\/MossoCloudFS_b1e2e28a-167a-4f71-afe4-096c4604b911"},{"region":"SYD","tenantId":"MossoCloudFS_b1e2e28a-167a-4f71-afe4-096c4604b911","publicURL":"https:\/\/storage101.syd2.clouddrive.com\/v1\/MossoCloudFS_b1e2e28a-167a-4f71-afe4-096c4604b911","internalURL":"https:\/\/snet-storage101.syd2.clouddrive.com\/v1\/MossoCloudFS_b1e2e28a-167a-4f71-afe4-096c4604b911"},{"region":"DFW","tenantId":"MossoCloudFS_b1e2e28a-167a-4f71-afe4-096c4604b911","publicURL[...]
- request:
    method: get
    uri: https://storage101.dfw1.clouddrive.com/v1/MossoCloudFS_b1e2e28a-167a-4f71-afe4-096c4604b911/mikhailov?limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 59f4c68ee69441f4bf736821ca2e9646
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Container-Object-Count:
      - '2'
      X-Container-Meta-Baz:
      - '42'
      X-Timestamp:
      - '1393434777.63511'
      X-Container-Meta-Foo:
      - bar
      X-Container-Bytes-Used:
      - '560'
      Content-Type:
      - application/json; charset=utf-8
      X-Trans-Id:
      - txf73632891fc949c6b9498-0053c9344fdfw1
    body:
      encoding: UTF-8
      string: '[{"hash": "794d9d685b517eae2a6b7eba2c2617c9", "last_modified": "2014-02-26T17:15:17.187000",
        "bytes": 280, "name": "README.md", "content_type": "application/x-ruby"}]'
  recorded_at: Fri, 18 Jul 2014 14:49:49 GMT
recorded_with: VCR 2.9.2
