---
http_interactions:
- request:
    method: post
    uri: https://identity.api.rackspacecloud.com/v2.0/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"RAX-KSKEY:apiKeyCredentials":{"username":"<USERNAME>","apiKey":"<APIKEY>"}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"access":{"token":{"id":"aaa30a69aaaa4ade83f32df91656357f","expires":"2014-07-24T21:18:32.138Z","tenant":{"id":"869882","name":"869882"},"RAX-AUTH:authenticatedBy":["APIKEY"]},"serviceCatalog":[{"name":"cloudBlockStorage","endpoints":[{"region":"DFW","tenantId":"869882","publicURL":"https:\/\/dfw.blockstorage.api.rackspacecloud.com\/v1\/869882"},{"region":"ORD","tenantId":"869882","publicURL":"https:\/\/ord.blockstorage.api.rackspacecloud.com\/v1\/869882"},{"region":"SYD","tenantId":"869882","publicURL":"https:\/\/syd.blockstorage.api.rackspacecloud.com\/v1\/869882"},{"region":"IAD","tenantId":"869882","publicURL":"https:\/\/iad.blockstorage.api.rackspacecloud.com\/v1\/869882"},{"region":"HKG","tenantId":"869882","publicURL":"https:\/\/hkg.blockstorage.api.rackspacecloud.com\/v1\/869882"}],"type":"volume"},{"name":"cloudImages","endpoints":[{"region":"IAD","tenantId":"869882","publicURL":"https:\/\/iad.images.api.rackspacecloud.com\/v2"},{"region":"ORD","tenantId":"869882","publicURL":"https:\/\/ord.images.api.rackspacecloud.com\/v2"},{"region":"HKG","tenantId":"869882","publicURL":"https:\/\/hkg.images.api.rackspacecloud.com\/v2"},{"region":"DFW","tenantId":"869882","publicURL":"https:\/\/dfw.images.api.rackspacecloud.com\/v2"},{"region":"SYD","tenantId":"869882","publicURL":"https:\/\/syd.images.api.rackspacecloud.com\/v2"}],"type":"image"},{"name":"cloudQueues","endpoints":[{"region":"HKG","tenantId":"869882","publicURL":"https:\/\/hkg.queues.api.rackspacecloud.com\/v1\/869882","internalURL":"https:\/\/snet-hkg.queues.api.rackspacecloud.com\/v1\/869882"},{"region":"ORD","tenantId":"869882","publicURL":"https:\/\/ord.queues.api.rackspacecloud.com\/v1\/869882","internalURL":"https:\/\/snet-ord.queues.api.rackspacecloud.com\/v1\/869882"},{"region":"SYD","tenantId":"869882","publicURL":"https:\/\/syd.queues.api.rackspacecloud.com\/v1\/869882","internalURL":"https:\/\/snet-syd.queues.api.rackspacecloud.com\/v1\/869882"},{"region":"DFW","tenantId":"869882","publicURL":"https:\/\/dfw.queue[...]
- request:
    method: get
    uri: https://storage101.dfw1.clouddrive.com/v1/MossoCloudFS_b1e2e28a-167a-4f71-afe4-096c4604b911
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - aaa30a69aaaa4ade83f32df91656357f
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Account-Object-Count:
      - '4'
      X-Timestamp:
      - '1383334040.14400'
      X-Account-Meta-Temp-Url-Key:
      - c6c097a633ac898b7ab6e510684057b7
      X-Account-Bytes-Used:
      - '840'
      X-Account-Container-Count:
      - '5'
      Content-Type:
      - application/json; charset=utf-8
      X-Trans-Id:
      - tx350b3b411ea5441a80145-0053d1372cdfw1
    body:
      encoding: UTF-8
      string: '[{"count": 1, "bytes": 0, "name": "Joel''s"}, {"count": 0, "bytes":
        0, "name": "foo"}, {"count": 0, "bytes": 0, "name": "foobarblech"}, {"count":
        2, "bytes": 560, "name": "mikhailov"}, {"count": 1, "bytes": 280, "name":
        "my-test-dir"}]'
  recorded_at: Thu, 24 Jul 2014 16:41:22 GMT
recorded_with: VCR 2.9.2
