---
http_interactions:
- request:
    method: post
    uri: https://identity.api.rackspacecloud.com/v2.0/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"RAX-KSKEY:apiKeyCredentials":{"username":"<USERNAME>","apiKey":"<APIKEY>"}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"access":{"token":{"id":"d15f589a12aa4d52926bf1b4e56d784e","expires":"2014-08-01T18:03:46.050Z","tenant":{"id":"869882","name":"869882"},"RAX-AUTH:authenticatedBy":["APIKEY"]},"serviceCatalog":[{"name":"cloudBlockStorage","endpoints":[{"region":"DFW","tenantId":"869882","publicURL":"https:\/\/dfw.blockstorage.api.rackspacecloud.com\/v1\/869882"},{"region":"ORD","tenantId":"869882","publicURL":"https:\/\/ord.blockstorage.api.rackspacecloud.com\/v1\/869882"},{"region":"SYD","tenantId":"869882","publicURL":"https:\/\/syd.blockstorage.api.rackspacecloud.com\/v1\/869882"},{"region":"IAD","tenantId":"869882","publicURL":"https:\/\/iad.blockstorage.api.rackspacecloud.com\/v1\/869882"},{"region":"HKG","tenantId":"869882","publicURL":"https:\/\/hkg.blockstorage.api.rackspacecloud.com\/v1\/869882"}],"type":"volume"},{"name":"cloudImages","endpoints":[{"region":"IAD","tenantId":"869882","publicURL":"https:\/\/iad.images.api.rackspacecloud.com\/v2"},{"region":"ORD","tenantId":"869882","publicURL":"https:\/\/ord.images.api.rackspacecloud.com\/v2"},{"region":"HKG","tenantId":"869882","publicURL":"https:\/\/hkg.images.api.rackspacecloud.com\/v2"},{"region":"DFW","tenantId":"869882","publicURL":"https:\/\/dfw.images.api.rackspacecloud.com\/v2"},{"region":"SYD","tenantId":"869882","publicURL":"https:\/\/syd.images.api.rackspacecloud.com\/v2"}],"type":"image"},{"name":"cloudQueues","endpoints":[{"region":"HKG","tenantId":"869882","publicURL":"https:\/\/hkg.queues.api.rackspacecloud.com\/v1\/869882","internalURL":"https:\/\/snet-hkg.queues.api.rackspacecloud.com\/v1\/869882"},{"region":"ORD","tenantId":"869882","publicURL":"https:\/\/ord.queues.api.rackspacecloud.com\/v1\/869882","internalURL":"https:\/\/snet-ord.queues.api.rackspacecloud.com\/v1\/869882"},{"region":"SYD","tenantId":"869882","publicURL":"https:\/\/syd.queues.api.rackspacecloud.com\/v1\/869882","internalURL":"https:\/\/snet-syd.queues.api.rackspacecloud.com\/v1\/869882"},{"region":"DFW","tenantId":"869882","publicURL":"https:\/\/dfw.queue[...]
- request:
    method: put
    uri: https://storage101.dfw1.clouddrive.com/v1/MossoCloudFS_b1e2e28a-167a-4f71-afe4-096c4604b911/mikhailov/test_file
    body:
      encoding: UTF-8
      string: '"Ohai"'
    headers:
      Content-Type:
      - text/plain
      X-Auth-Token:
      - d15f589a12aa4d52926bf1b4e56d784e
  response:
    status:
      code: 201
      message: Created
    headers:
      Last-Modified:
      - Thu, 31 Jul 2014 18:00:46 GMT
      Etag:
      - 49c0e2bcd421f3c92552f5da99bec22b
      Content-Type:
      - text/html; charset=UTF-8
      X-Trans-Id:
      - txd0ef64fa8b23436fa9a1f-0053da844ddfw1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 31 Jul 2014 18:00:39 GMT
- request:
    method: post
    uri: https://storage101.dfw1.clouddrive.com/v1/MossoCloudFS_b1e2e28a-167a-4f71-afe4-096c4604b911/mikhailov/test_file
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/json
      X-Object-Meta-Foo:
      - bar
      X-Auth-Token:
      - d15f589a12aa4d52926bf1b4e56d784e
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Trans-Id:
      - tx13729adc9f1642b9bc267-0053da844ddfw1
    body:
      encoding: UTF-8
      string: <html><h1>Accepted</h1><p>The request is accepted for processing.</p></html>
  recorded_at: Thu, 31 Jul 2014 18:00:39 GMT
- request:
    method: head
    uri: https://storage101.dfw1.clouddrive.com/v1/MossoCloudFS_b1e2e28a-167a-4f71-afe4-096c4604b911/mikhailov/test_file
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - d15f589a12aa4d52926bf1b4e56d784e
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 31 Jul 2014 18:00:46 GMT
      Etag:
      - 49c0e2bcd421f3c92552f5da99bec22b
      X-Timestamp:
      - '1406829645.96361'
      X-Object-Meta-Foo:
      - bar
      Content-Type:
      - application/json
      X-Trans-Id:
      - txf2a2b7770f2a4318a5904-0053da844edfw1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 31 Jul 2014 18:00:39 GMT
[...]
- request:
    method: head
    uri: https://storage101.dfw1.clouddrive.com/v1/MossoCloudFS_b1e2e28a-167a-4f71-afe4-096c4604b911/mikhailov/test_file
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - d15f589a12aa4d52926bf1b4e56d784e
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 31 Jul 2014 18:00:47 GMT
      Etag:
      - 49c0e2bcd421f3c92552f5da99bec22b
      X-Timestamp:
      - '1406829646.51731'
      Content-Type:
      - application/json
      X-Trans-Id:
      - txff7c430760a44cc0acdab-0053da844edfw1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 31 Jul 2014 18:00:40 GMT
recorded_with: VCR 2.9.2
